// Imports -------------------------------------------------------------------

@import "base";
@import "compass/utilities";
@import "compass/css3";

@include font-face("Shit Happens", font-files("wedding.otf", opentype));

$darkpink : #ff9090;

/* Layout ------------------------------------------------------------------*/

body {
  background: #ffffe0;
}

#frontpage {
  @include container;

  //@include susy-grid-background;
  //background: #ffeeef;
  background: white;

  @include box-shadow(grey 7px 7px 15px);
  padding-bottom: 1.5em;

  h3 {
    margin: 0em;
  }
  h4 {
    font-family: arial;
    font-size: 0.3em;
    margin-top: 0em;
    margin-bottom: 1em;
  }

  div[role="main"] {
    @include full;
    text-align: center;
    font-family: "Shit Happens";
    font-size: 5em;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      @include box-shadow(grey 7px 7px 7px);
    }

    p {
      margin-top: 0em;
      margin-bottom: 0em;
    }

    div {
      @include box-shadow(grey 5px 5px 15px);
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin-top: 0em;
      background: white;
    }

    #swedish {
      @include columns(($total-cols - 1)/2, $total-cols);
      @include alpha;
      background: #efefff;
    }

    #english {
      @include columns(($total-cols - 1)/2, $total-cols);
      @include omega;
      background: #efefff;
    }
  }
}

#page {
  @include container;

  @include box-shadow(grey 7px 7px 15px);
  //@include susy-grid-background;
  background: white;

  #jenandpatrik {
    @include columns(3);
    @include alpha;
    padding-top: 0.5em;
  }

  #banner {
    @include columns(9);
    @include omega;
    padding-top: 0.5em;
  }

  /* Nav --------------------------------------------------------------*/

  nav {
    @include columns(3);
    @include alpha;

    ul {
      @include no-bullets;
      padding: 0em;
    }

    a {
      @include hover-link;
      @include link-colors(#444);
      font-weight: bold;
      font-family: 'Helvetica Neue', 'Helvetica';
    }
  }

  /* Content --------------------------------------------------------------*/

  div[role="main"] {
    @include columns(9);
    @include omega;
    article {
      @include columns(9,9);
      @include omega(9);

      font-family: 'Helvetica Neue', 'Helvetica';

      h1 {
        @include full;
        //font-size: 20px;
        color: #666;
      }

      h2 {
        @include full;
        font-size: 18px;
        color: #666;
      }

      h3 {
        @include full;
        font-size: 16px;
        color: #666;
      }

      p {
        @include full;
        color: #666;
      }

      ul {
        @include full;
        //@include no-bullets;
        color: #666;
      }

      a {
        @include hover-link;
        @include link-colors(#444);
        font-weight: bold;
      }

      #signature {
        font-family: "Shit Happens";
        font-size: 3em;
        p {
          margin-top: 0px;
        }
      }

    }
  }
}

/* Footer --------------------------------------------------------------*/

footer {
  padding-top: 0.5em;
  padding-bottom: 1em;
  color: #777;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica';
}
